{% include 'header.html' %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<a href="{{ url_for('home') }}" class="button primary"><- Back to Home</a>
								<h1>{{ cafe['name'] }}</h1>
                            </header>
							<div class="flex">
								<iframe
									style="border:0"
									loading="lazy"
									allowfullscreen
									referrerpolicy="no-referrer-when-downgrade"
									src="{{ url }}">
								</iframe>
								<div>
									<p>
										{% if not found %}
										*Could not load location on map*<br><br>
										{% endif %}

										{{ cafe['name'] }}

										{% for req in range(int(len(req_list)/2)) %}
											{% if cafe[req_list[req]] %}
												{% if req == 3 %}
													and does {{ req_list[req+4].lower() }}.
												{% else %}
													does {{ req_list[req+4].lower() }},
												{% endif %}
											{% else %}
												{% if req == 3 %}
													and doesn't {{ req_list[req+4].lower() }}.
												{% else %}
													doesn't {{ req_list[req+4].lower() }},
												{% endif %}
											{% endif %}
										{% endfor %}
										<br><br>

										The average cost of coffee is {{ cafe['coffee_price'] }} and it has {{ cafe['seats'] }} seats.
									</p>
								</div>
							</div>
							<div class="flex" style="margin-top: 3em">
								{% if not cafe['id'] == 1 %}
								<a href="{{ url_for('show_cafe', cafe_id=cafe['id']-1) }}" class="button primary"><- Previous Cafe</a>
								{% endif %}
								{% if not len(cafes) == cafe['id'] %}
								<a href="{{ url_for('show_cafe', cafe_id=cafe['id']+1) }}" class="button primary">Next Cafe -></a>
								{% endif %}
							</div>
						</div>
					</div>

{% include 'footer.html' %}